* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

iframe {
    border: none;
    outline: none;
    box-shadow: none;
}

.parallax {
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    height: 100vh;
    background-color: white;
    text-align: center;
    padding: 50px;
    margin-bottom: 100px; /* Lägg till marginal mellan sektionerna */
}
